[submodule "testcases"]
	path = testcases
	url = https://github.com/Starry-OS/testcases.git
	ignore = dirty
[submodule "vdso/cops"]
	path = vdso/cops
	url = https://github.com/rosy233333/cops.git
	branch = shared_scheduler
